@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Montserrat:400,400i,600,600i,700');
/*@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great')*/

body {
    font-family: 'Montserrat', sans-serif;
    color: #83878f;
}
ol, ul, li {
	list-style: none;
}
#main {
	padding-top: 50px;
}
.navbar-default {
	border-style: dashed;
	background: #fff;
}
.navbar-default .navbar-brand {
	color: #f27849;
	font-weight: 700;
	font-size: 22pt;
}

.navbar-default .navbar-brand:hover {
	color: #e7e7e7;
}
.nav.navbar-nav.navbar-left {
	font-size: 10pt;
}

.big-title {
	background-color: #f8f8f8;
	padding: 30px;
	border-bottom: 1px dashed #e7e7e7;
	margin-bottom: 40px;
}

.main-header .big-title h2 {
    /*font-family: 'Gochi Hand', cursive;*/
    color: #fff;
    font-family: 'Fredericka the Great', cursive;
    font-size: 48pt;
    text-align: center;
	text-shadow:
		-1px -1px 0 #555,
		1px -1px 0 #555,
		-1px 1px 0 #555,
		1px 1px 0 #555;
}

.article {
	padding-bottom: 40px;
	border-bottom: 1px dashed #e7e7e7;
	margin-bottom: 30px;
	margin-top: 15px;
}
.article-teaser img {
	width: 100%;
	margin-bottom: 30px;
}
.article-body-inside h2 {
	font-weight: 600;
}
.article-body-inside a:hover {
	color: #90b695;
	text-decoration: none;
}
.article-body-inside a {
	color: #333;
}
.article-title a {
	color: #111111;
}
.continue {
	padding: 20px;
}
.continue a {
	font-size: 9pt;
	width: 40%;
	padding: 12px 24px;
	color: #90b695;
	border: 1px solid #90b695;
}
.continue a:hover {
	font-size: 9pt;
	width: 40%;
	padding: 12px 24px;
	color: #fff;
	background: #90b695;
	border: 1px solid #90b695;
	text-decoration: none;
}
.side-title-head {
	font-size: 18pt;
	font-weight: 700;
	padding-bottom: 30px;
}
#sidebar .side-title-head.now-with-more-padding {
	padding-bottom: 32px;
}
.category li, .popular-post li, .archives li {
	border-bottom: 1px dashed #e7e7e7;
	padding: 8px;
}
.category li a, .popular-post li a, .archives li a {
	color: #83878f;
}
.article-title a:hover, .category li a:hover, .popular-post li a:hover, .archives li a:hover {
	color: #90b695;
	text-decoration: none;
}
.s {    
	border: 1px solid #e2e2e2;
    font-size: 12px;
    min-height: 45px;
    font-weight: lighter;
    display: block;
    width: 100%;
    padding: .5rem .75rem;
}
.searchform-warp button.btn.btn-primary {
	padding: 0;
    border-color: #e2e2e2;
    height: 45px;
    width: 45px;
    line-height: 43px;
    margin-left: 0;
}

input.form-control, textarea.form-control {
	border-radius: 0px;
}
textarea.form-control {
	max-width: 750px;
}

.more-top-padding {
	padding-top: 40px;
}
.footer .wrapper {
	border-top: 1px dashed #e7e7e7;
	margin-top: 60px;
	padding: 30px;
	background: #f8f8f8;
}
.btn.btn-primary {
	border-radius: 0px;
	font-size: 12pt;
	padding: 6px 24px;
	background: #ffffff;
	color: #90b695;
	border: 1px solid #90b695;
}

.btn.btn-primary:hover {
	color: #fff;
	background: #90b695;
	border: 1px solid #90b695;
}
.comment-author-meta h4 {
	font-weight: 600;
	font-size: 23px;
}
.comment-author-meta {
	margin-bottom: 30px;
}
.comment-item {
	padding-bottom: 20px;
	border-bottom: 1px dashed #90b695;
	margin-bottom: 20px;
}
ul.tags {
	padding: 0px;
}
ul.tags li {
	padding: 5px 9px;
	border: 1px solid #e2e2e2;
	margin: 2px;
} 
.author-name a {
	margin-top: 30px;
}
.author-name {
	padding-bottom: 30px;
}